<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <h1>SISTEMA Empleado</h1>
    </div>
    <div id="sidebar">
        @if (IsSectionDefined("SideBar"))
        {
            @RenderSection("SideBar")
        }else
        {
            @ViewBag.Message
        }
    </div>
    <div id="content"> 
        @RenderBody()
    </div>
    <div id="footer">
        <h7>Info@Empleado.com</h7>
    </div>
</body>
</html>
